
<!--<div class="container">-->


<div class="card">

  <a style="text-decoration: none;color:black;">
    <h3 class="card-header">{{thisquestion}}</h3>
  </a>
  <div class="card-block">
    <a (click)="AddQuestiontoWeb()" class="btn btn-default">Add To WEB</a>
    <a href="#" class="btn btn-default">EDIT</a>
    <a (click)="RemoveQuestion()" class="btn btn-default">REMOVE</a>
  </div>
  <h6>Type ᛫ {{qtype}} | Asked By ᛫ {{qaskedby}} </h6>
  <hr>
</div>

<!--</div>-->
<fieldset>
<legend>Related Questions</legend>


<div class="card" *ngIf="relatedq.length !== 0;else othersection">

  <div *ngFor="let rq of relatedq">

  <a style="text-decoration: none;color:black">
    <h3 class="card-header">{{rq.question}}</h3>
  </a>

  <h6>Type ᛫ {{rq.type}} | Asked By ᛫ {{rq.askedby}} </h6>
  <hr>
</div>
</div>
  <ng-template #othersection>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">There is no related question...</h3>
      </div>

    </div>
  </ng-template>
</fieldset>



<!--
<div class="row" *ngIf="relatedq.length !== 0">
  <div class="backshadowBox">

    <div *ngFor="let rq of relatedq">

      &lt;!&ndash;<div class="container">&ndash;&gt;
      <div class="backshadowA">




        <div class="panel panel-default">
          &lt;!&ndash;<div class="panel-heading">
                  <h3 class="panel-title">Ans_id:- {{ans._id}}</h3>
            </div>&ndash;&gt;
          <div class="panel-body">
            <code>
              <div style="font-size: 20px;">
                <b> <i class=" fa fa-paper-plane-o" style="color:green"></i> {{rq.question}}</b>
              </div>
            </code>
          </div>


          <div class="panel-footer">
            asked by:- {{rq.askedby}}
          </div>

        </div>




      </div>
      &lt;!&ndash;</div>&ndash;&gt;
    </div>
  </div>
</div>-->










<div *ngIf="isLogged; else loginsection">

</div>

<ng-template #loginsection>
  <!--<div class="container">-->
  <div class="backshadowBox">
    <div class="alert alert-danger alert-dismissable">
      <strong>Please <a routerLink="/enter">Login</a> to add Answer...</strong>
    </div>
  </div>
  <!--</div>-->
</ng-template>
