



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="navbar-brand"><a routerLink="/">AskHere</a></h2>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home <i class="fa fa-home"></i></a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/question">Question <i class="fa fa-pencil-square-o"></i></a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="/answer">Answer</a></li>
      <li>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" routerLink="/search">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>
    </ul>
    <div *ngIf="!isLogged && userLogged === 'NotLoggedIn';else otherLoginSection">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/enter" > Enter <i class="fa fa-sign-in"></i></a>
        </li>
        <li><a routerLink="/signup"> Sign up <i class="fa fa-user-plus"></i></a></li>
      </ul>
    </div>
    <ng-template #otherLoginSection>
      <!--<div class="dropdown navbar-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">{{userLogged}}
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
         &lt;!&ndash; <li><a routerLink="/user/profile">Profile</a></li>
          <li><a routerLink="/user/changepassword">Change Password</a></li>&ndash;&gt;
          <li><a (click)="LogOut()">Log Out</a></li>
          &lt;!&ndash;<li class="divider"></li>&ndash;&gt;
         &lt;!&ndash; <li *ngIf="adminsetting"><a routerLink="/user/admin/addmovie">Admin Options</a></li>&ndash;&gt;
        </ul>
      </div>-->

      <div class="dropdown navbar-right">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;{{userLogged}}
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a routerLink="/userprofile/{{userID}}"><i class="fa fa-user" aria-hidden="true"
                                                       style="font-size: 20px;"></i>&nbsp;Profile</a>
          </li>
          <li><a routerLink="/user/changepassword"><i class="fa fa-key" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;Change
            Password</a></li>
          <li><a (click)="LogOut()" routerLink=""><i class="fa fa-sign-out" aria-hidden="true"
                                                     style="font-size: 20px;"></i>&nbsp;Log Out</a></li>
          <li class="divider"></li>
          <li *ngIf="adminsetting"><a routerLink="/admin"><i class="fa fa-database" aria-hidden="true"
                                                                           style="font-size: 20px;"></i>&nbsp;Admin
            Options</a></li>
          <!--<li><a (click)="DeleteUser()" routerLink=""><i class="fa fa-trash-o" aria-hidden="true"
                                                         style="font-size: 20px;"></i>&nbsp;Delete</a></li>-->
        </ul>
      </div>


      <!--ul class="nav navbar-nav navbar-right">
        <li> <a> {{userLogged}} <span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li><a (click)="LogOut()"> Log Out <span class="glyphicon glyphicon-log-out"></span> </a></li>
      </ul>-->

    </ng-template>
  </div>
  </div>
</nav>


<!--

<nav class="navbar navbar-default" role="navigation">
  &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">AskHere</a>
  </div>

  &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a>Home <i class="fa fa-home"></i></a></li>
      <li><a>Question <i class=" fa fa-plus-square"></i></a></li>
      <li><a>Answer <i class="fa fa-pencil-square-o"></i></a></li>
      <li><form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </li>
    </ul>

    <div *ngIf="1; else othersection">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/authentication/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/authentication/enter"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
    <ng-template #othersection>
      <div class="dropdown navbar-right">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;
          <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a><i class="fa fa-user" aria-hidden="true"
                    style="font-size: 20px;"></i>&nbsp;Profile</a>
          </li>
          <li><a><i class="fa fa-key" aria-hidden="true" style="font-size: 20px;"></i>&nbsp;Change
            Password</a></li>
          <li><a><i class="fa fa-sign-out" aria-hidden="true"
                    style="font-size: 20px;"></i>&nbsp;Log Out</a></li>
          <li class="divider"></li>
          <li><a><i class="fa fa-database" aria-hidden="true"
                    style="font-size: 20px;"></i>&nbsp;Admin
            Options</a></li>
          <li><a  routerLink=""><i class="fa fa-trash-o" aria-hidden="true"
                                   style="font-size: 20px;"></i>&nbsp;Delete</a></li>
        </ul>
      </div>
    </ng-template>




  </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
</nav>

-->
