
<div class="card">

  <a style="text-decoration: none;color:black;">
    <h3 class="card-header">{{thisquestion}}</h3>
  </a>

  <h6>Type ᛫ {{qtype}} | Asked By ᛫ {{qaskedby}} </h6>
  <hr>
</div>

<fieldset>

  <div class="card" *ngIf="qanswer.length !== 0;else othersection">
    <legend>Answers</legend>

    <div *ngFor="let ans of qanswer">

      <a style="text-decoration: none;color:black">
        <div class="card-header"><pre>{{ans.answer}}</pre></div>
      </a>

      <h6> Answered By ᛫ {{ans.askedby}} </h6>
      <hr>
    </div>
  </div>
  <ng-template #othersection>
    <div class="panel panel-success">
    	  <div class="panel-heading">
    			<h3 class="panel-title">No answers yet..</h3>
    	  </div>
    </div>
  </ng-template>
</fieldset>






<div *ngIf="isLogged; else loginsection">
  <div class="card">

    <h4 class="card-header">
      Add Answer
    </h4>
    <div class="row">






<form class="form-horizontal" role="form" [formGroup]="addAnswerForm" (ngSubmit)="AddAnswer()">
  <div class="form-group">

    <div class="col-xs-11">

      <textarea class="form-control" id="question" placeholder="Add Your Answer" formControlName="answer" rows="3"></textarea>

    </div>


  </div>
  <div class="form-group">
    <div class="col-xs-8"></div>
    <div class="col-xs-4 col-xs-offset-4">
      <button type="submit" class="btn btn-success btn-lg btn-lg glyphicon glyphicon-plus-sign"> Add</button>
    </div>
  </div>
</form>
    </div>
  </div>
</div>

<ng-template #loginsection>
      <div class="alert alert-danger alert-dismissable">
        <strong>Please <a routerLink="/enter">Login</a> to add Answer...</strong>
      </div>

</ng-template>
