<div class="row" *ngIf="questions.length !== 0">

  <div *ngFor="let que of questions; let i = index">


    <div class="card">

      <a routerLink="/relatedquestions/{{que._id}}" style="text-decoration: none;color:black;">
        <h3 class="card-header">{{que.question}}</h3>
      </a>
      <div class="card-block">
        <a href="#" class="btn btn-default">Add To WEB</a>
        <a href="#" class="btn btn-default">EDIT</a>
        <a href="#" class="btn btn-default">REMOVE</a>
      </div>
      <h6>Type ᛫ {{que.type}} | Asked By ᛫ {{que.askedby}} </h6>
      <hr>
    </div>


  </div>

</div>

