<div class="row" *ngIf="questions.length !== 0">

  <div *ngFor="let que of questions; let i = index">


    <div class="card">

      <h6>Type ᛫ {{que.type}} | Asked By ᛫ {{que.askedby}} </h6>
      <a routerLink="/answer/{{que._id}}" style="text-decoration: none;color:black;">
      <h3 class="card-header">{{que.question}}</h3>
      </a>
      <!--<div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>-->
      <hr>
    </div>


  </div>

</div>
