<div class="row" *ngIf="questions.length !== 0">

  <div *ngFor="let que of questions; let i = index">

    <!--<div class="container">-->
      <div class="backshadow">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Que_no:- <!--{{i+143}}-->{{que._id}}</h3>
        </div>
        <a routerLink="/answer/{{que._id}}" style="text-decoration: none;color:black;">
        <div class="panel-body">
          <div style="font-size: 24px;">
          <b><i class="fa fa-quora"></i> :- {{que.question}}</b>
          </div>
        </div>
        </a>

        <div class="panel panel-default">
          <div class="panel-footer">
            Type:- {{que.type}}
          </div>
          <div class="panel-footer">
            <h6>Asked By : {{que.askedby}} </h6>
          </div>
        </div>

      <!--</div>-->
    </div>
    </div>
  </div>

</div>
